<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login page</title>
</head>
<body>
<p>ID : <input type="text" id="joinId" placeholder="ID"/></p>
<p>Password : <input type="password" id="password" placeholder="Password"></p>
<input type="button" value="LOGIN" id="login-button" onclick="login()"/>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
<script>
    function login() {
        var joinId = $('#joinId').val();
        var password = $('#password').val();

        var loginDto = {
            joinId: joinId,
            password: password
        }
        $.ajax({
            url: "/api/login",
            method: "POST",
            contentType: "application/json",
            data: JSON.stringify(loginDto),
            success: function (tokenResponse) {
                for (i in tokenResponse) {
                    console.log("data : " + [i] + " : " + tokenResponse[i]);
                }
                alert(
                    "access_token : " + tokenResponse.accessToken + "\n\n" +
                    "accessTokenExpirationSecond : " + tokenResponse.accessTokenExpirationSecond + "\n\n" +
                    "refresh_token : " + tokenResponse.refreshToken + "\n\n" +
                    "refreshTokenExpirationPeriodDateTime : " + tokenResponse.refreshTokenExpirationPeriodDateTime
                );
            },
            statusCode: {
                400: function (dto) {
                    // for (i in dto) {
                    //     console.log("data : " + [i] + " : " + dto[i]);
                    // }
                    // alert(
                    //     "message : " + JSON.stringify(dto.responseJSON.message).replace(/\"/g, ""));
                    // console.log("message: " + JSON.stringify(dto.responseJSON.message));

                    var real = eval("(" + dto.responseText + ")");
                    alert(real.message);
                    console.log("real.message = " + real.message);
                }
            }
        })
    }
</script>
</body>
</html>