<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Custom Vocabulary 회원가입</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"
          th:href="@{/vendor/fontawesome-free/css/all.min.css}">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet" th:href="@{/css/sb-admin-2.min.css}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"></script>

</head>

<body class="bg-gradient-primary">

<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                        </div>
                        <form class="user" name="join-form" th:action="@{/}">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="joinId"
                                       placeholder="Login ID">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control form-control-user" id="email"
                                       placeholder="Email Address">
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="password" class="form-control form-control-user"
                                           id="inputPassword" placeholder="Password">
                                </div>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control form-control-user"
                                           id="repeatPassword" placeholder="Repeat Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="name"
                                       placeholder="Name">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="nickname"
                                       placeholder="Nickname">
                            </div>

                            <!--                            생년월일 select -->
                            <div class="container mb-4 form-control form-control-lg rounded-pill">
                                <div class="row">
                                    <div class="col-md-auto">
                                        <span class="custom-span">Date of birth</span>
                                    </div>
                                    <div class="col-md-auto">
                                        <select name="year"
                                                class="form-select form-select-sm"
                                                aria-label=".form-select-sm example">
                                            <option selected value="-1">year</option>
                                            <th:block th:each="num: ${years}">
                                                <option th:value="${num}" th:text="${num}" value="1"></option>
                                            </th:block>
                                        </select>
                                    </div>
                                    <div class="col-md-auto">
                                        <select name="month"
                                                class="form-select form-select-sm"
                                                aria-label=".form-select-sm example">
                                            <option selected value="-1">month</option>
                                            <th:block th:each="month: ${month}">
                                                <option th:value="${month.value}" th:text="${month.text}"
                                                        value="1"></option>
                                            </th:block>
                                        </select>
                                    </div>
                                    <div class="col-md-auto">
                                        <select name="day"
                                                class="form-select form-select-sm"
                                                aria-label=".form-select-sm example">
                                            <option selected value="-1">day</option>
                                            <th:block th:each="day: ${days}">
                                                <option th:value="${day.value}" th:text="${day.text}"
                                                        value="1"></option>
                                            </th:block>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="container mb-4 form-control form-control-lg rounded-pill">
                                <div class="row">
                                    <div class="col-md-auto">
                                        <span class="custom-span">성별</span>
                                    </div>
                                    <div class="col-md-auto">
                                        <select name="gender"
                                                class="form-select form-select-sm"
                                                aria-label=".form-select-sm example">
                                            <option selected value="-1">Gender</option>
                                            <option th:value="MALE" th:text="남성" value="MALE"></option>
                                            <option th:value="FEMALE" th:text="여성" value="FEMALE"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="simple-address"
                                       placeholder="Simple Address">
                            </div>

                            <body>
                            <!--   <a id="register-btn" href="login.html" class="btn btn-primary btn-user btn-block">
                                   Register Account
                               </a>-->
                            <input type="submit" id="register-btn" href="login.html"
                                   class="btn btn-primary btn-user btn-block">
                            Register Account
                            </input>
                            <!--                            <hr>-->
                            <!--                            <a href="index.html" class="btn btn-google btn-user btn-block">-->
                            <!--                                <i class="fab fa-google fa-fw"></i> Register with Google-->
                            <!--                            </a>-->
                            <!--                            <a href="index.html" class="btn btn-facebook btn-user btn-block">-->
                            <!--                                <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook-->
                            <!--                            </a>-->
                        </form>
                        <hr>
                        <!--                        <div class="text-center">-->
                        <!--                            <a class="small" href="forgot-password.html">Forgot Password?</a>-->
                        <!--                        </div>-->
                        <div class="text-center">
                            <a class="small" href="login.html" th:href="@{/members/login}">Already have an account?
                                Login!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js" th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"
        th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js" th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js" th:src="@{/js/sb-admin-2.min.js}"></script>

<style>
    .custom-span {
        font-size: 0.8rem;
        color: #212529;
        padding-bottom: 2px;
    }
</style>

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {
        $("#register-btn").click(function (e) {
            e.preventDefault();

            const joinId = $('#joinId').val();
            const email = $('#email').val();
            const password = $('#inputPassword').val();
            const name = $('#name').val();
            const nickname = $('#nickname').val();
            let year = $('select[name=year]').val();
            let month = $('select[name=month]').val();
            let day = $('select[name=day]').val();
            const dateOfBirth = year + "-" + month + "-" + day;
            const gender = $('select[name=gender]').val();
            const simpleAddress = $('#simple-address').val();

            let requestFlag = true;

            if (year == -1 || month == -1 || day == -1) {
                requestFlag = false;
                alert("생년월일을 선택해주세요.");
            }

            if (gender == -1) {
                requestFlag = false;
                alert("셩별을 선택해주세요.");
            }

            if (requestFlag) {

                const createDto = {
                    joinId: joinId,
                    email: email,
                    password: password,
                    name: name,
                    nickname: nickname,
                    dateOfBirth: dateOfBirth,
                    gender: gender,
                    simpleAddress: simpleAddress
                };

                console.log(createDto);

                $.ajax({
                    method: "POST",
                    url: "/api/members",
                    data: JSON.stringify(createDto),
                    contentType: "application/json",
                    statusCode: {
                        201: function (response) {
                            alert(response.message);
                        },
                        400: function (response) {
                            let data = JSON.parse(response.responseText);
                            console.log(data);

                            if (data.message != undefined) {
                                alert(data.message);
                            } else {
                                let str = "";
                                for (let i = 0; i < data.length; i++) {
                                    str += data[i].defaultMessage + "\n";
                                }

                                alert(str);
                            }
                        }
                    }
                });
            }

        });
    });
</script>

</body>

</html>